.header__middle {
  display: flex;
  align-items: center;
  width: 40%;
}
.header__middleinput {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: rgb(243, 242, 242);
  border: 0.5px solid rgb(223, 221, 221);
}
.header__input {
  flex: 1;
  height: 36px;
  padding: 2px 5px;
  font-size: medium;
  border: none;
}
.SearchIcon {
  width: 50px !important;
  color: rgb(66, 65, 65);
}
.SearchIcon:hover {
  color: black;
}
