.videocard {
  width: 250px;
  margin-bottom: 25px;
  padding: 10px;
  flex: 1;
}
.videocard__thumbnail {
  height: 150px;
  object-fit: contain;
  margin-bottom: 5px;
}
.videocard__info {
  display: flex;
}
.video__text {
  margin-left: 10px;
}
.video__text > h4 {
  margin-bottom: 5px;
  font-size: 14px;
}
.video__text > p {
  font-size: 12px;
  margin-bottom: 2px;
  color: rgb(72, 72, 72);
}

.video_desc {
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: -o-ellipsis-lastline;
  font-size: 14px;
  line-height: 1em;
}
.dot::after {
  margin-bottom: 0.4px;
}
